:root {
  --tab-surface-regular: var(--theme-colors-tab);
  --tab-surface-active: var(--night_color1, var(--night_color1, var(--night_color1, var(--night_color1))));
  --tab-surface-active-hover: var(--night_color1, var(--night_color1, var(--night_color1, var(--night_color1))));
  --tab-surface-hover: var(--night_color2);
  --tab-border: var(--night_color3);
  --tab-text-regular: var(--theme-colors-tab_background_text, hsl(240,9%,98%));
  --tab-text-active: var(--theme-colors-toolbar_text, -moz-DialogText );
  --tabbar-bg: var(--night_color1);
}

/* Hide .twisty and adjust margins so favicons have 7px on left. */
.tab .twisty {
	visibility: hidden;
	margin-left: -13px;
}

/* Push tab labels slightly to the right so they're completely hidden in collapsed state */
.tab .label {
	margin-left: 10px;
}

/* Hide close buttons on tabs. */
.tab .closebox {
	visibility: collapse;
}

/* Hide sound playing/muted button. */
.sound-button::before {
	display: none !important;
}

/* Hide 'new tab' button. */
.newtab-button {
	display: none;
}

/* cancel needless separators on exceptions */
tab-item[data-level="0"].pinned,
tab-item[data-level="0"].pinned + tab-item[data-level="0"],
tab-item[data-level="0"] + tab-item[data-level="0"]:not([data-child-ids]) {
  margin-top: 0;
}

tab-item.active .label-content {
  font-weight: bold;
  font-size: 14px;
}

tab-item.unread .label-content {
  font-style: italic;
}

