/* ================== Personal settings ================== */

/* Centered url text */
#urlbar:not([focused]) #urlbar-input, /* ID for Firefox 70 */
#urlbar:not([focused]) .urlbar-input{ text-align: center !important; }

/* Hide tabs on Linux, Windows, any with titlebar */
#TabsToolbar {
  visibility: collapse !important;
}

[uidensity="compact"]:root .titlebar-button {
  visibility: collapse !important;
}

[uidensity="compact"]:root #nav-bar {
  margin-top: -30px;
}

/* Hide hamburger menu */
#PanelUI-button {
  visibility: collapse !important;
}

/* Hide the back and forward buttons */
#main-window :-moz-any(#back-button, #forward-button) {
  display: none !important;
}

/* Makes the address bar and search bar borderless */
#urlbar, .searchbar-textbox {
  border: none !important;
  box-shadow: none !important;
}

/* Hide the header of the sidebar */
#sidebar-header {
  display: none;
}

/* Hide page action buttons */
.urlbar-page-action {
  display:none !important;
}

/* Description: Hides the Tracking Protection icon. */
#tracking-protection-icon-box {
  visibility: collapse !important;
}

/* Hide the green lock indicating SSL (HTTPS, encrypted connection) from the address bar. 
 * To be used with https://addons.mozilla.org/en-US/firefox/addon/snap-http-padlocks/ in order to mark HTTP connections as insecure. */
#urlbar[pageproxystate="valid"] > #identity-box.verifiedDomain > #connection-icon,
#urlbar[pageproxystate="valid"] > #identity-box.verifiedIdentity > #connection-icon,
#urlbar[pageproxystate="valid"] > #identity-box.mixedActiveBlocked > #connection-icon {
  display: none !important;
}

/* Hides the zoom indicator */
#urlbar-zoom-button { 
  display: none !important; 
}

/* Hides vertical separator line to make it look cleaner */
#pageActionSeparator { 
  display: none !important;
}   

/* ================== Sidebar ================== */

/* Hide splitter, when using Tree Style Tab. */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] + #sidebar-splitter {
    display: none !important;
}

/* Show sidebar only when the cursor is over it  */
/* The border controlling sidebar width will be removed so you'll need to modify these values to change width */

#sidebar-box{
  --uc-sidebar-width: 28px;
  --uc-sidebar-hover-width: 210px;
  --uc-autohide-sidebar-delay: 0ms;
  position: relative;
  min-width: var(--uc-sidebar-width) !important;
  width: var(--uc-sidebar-width) !important;
  max-width: var(--uc-sidebar-width) !important;
  z-index:1;
}

#sidebar-box[positionend]{ direction: rtl }
#sidebar-box[positionend] > *{ direction: ltr }

#sidebar-box[positionend]:-moz-locale-dir(rtl){ direction: ltr }
#sidebar-box[positionend]:-moz-locale-dir(rtl) > *{ direction: rtl }

#main-window[sizemode="fullscreen"] #sidebar-box{ --uc-sidebar-width: 0px; }

#sidebar{
  transition: min-width 115ms linear var(--uc-autohide-sidebar-delay) !important;
  min-width: var(--uc-sidebar-width) !important;
  will-change: min-width;
}

#sidebar-box:hover > #sidebar{ 
  min-width: var(--uc-sidebar-hover-width) !important; 
  transition-delay: 0ms !important 
}

.sidebar-panel{
  background-color: transparent !important;
  color: var(--newtab-text-primary-color) !important;
}

#sidebar-box:not([positionend]) > :-moz-locale-dir(rtl),
#sidebar-box[positionend] > *{
  border-inline-width: 1px 0px;
}

/*
 * Hide the green lock indicating SSL (HTTPS, encrypted connection) from the address bar. 
 * To be used with https://addons.mozilla.org/en-US/firefox/addon/snap-http-padlocks/ in order to mark HTTP connections as insecure.
 *
 * Contributor(s): Madis0
 */

#urlbar[pageproxystate="valid"] > #identity-box.verifiedDomain > #connection-icon,
#urlbar[pageproxystate="valid"] > #identity-box.verifiedIdentity > #connection-icon,
#urlbar[pageproxystate="valid"] > #identity-box.mixedActiveBlocked > #connection-icon {
  display: none !important;
}

/*
 * Makes the address bar and search bar borderless. 
 * Use the default white theme for an Edge-like look or in VivaldiFox with page colors applied 
 * on toolbar fields for a seamless one-color look.
 *
 * Contributor(s): Madis0
 */

#urlbar, .searchbar-textbox {
  border: none !important;
  box-shadow: none !important;
}
